section.header {
  @include relative;
}

.header-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}

.header__logo {
  flex-direction: column;
  padding: 10px 0px 20px;
}
.header__logo_img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header__logo_title {
  font-size: calc(12px + 8 * (100vw / 1920));
  display: block;
  padding-bottom: 10px;
  font-family: "Roboto";
  font-weight: bold;
  color: $bleck;
}
.header__logo_text {
  font-size: calc(12px + 8 * (100vw / 1920));
  display: block;
  padding-bottom: 5px;
  font-family: "Roboto";
  font-weight: 300;
  color: $Shaft;
}
.header__phone {
  flex-direction: column;
  @include relative;
  max-width: 300px;
  padding-left: 40px;
  &::after {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    display: block;
    width: 34px;
    height: 34px;
    @extend %svg-common;
    background-position: 100% 100%;
  }
}
a.header__phone_link {
  text-align: left;
  font-size: calc(12px + 8 * (100vw / 1920));
  line-height: 32px;
  font-weight: bold;
  color: $bleck;
  display: block;
  text-decoration: none;
  white-space: nowrap;
}
.header__phone_descr {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: calc(9px + 8 * (100vw / 1920));
  line-height: 1;
  color: $Boulder;
}
.header__btn {
  flex-direction: column;
  align-items: center;
  align-content: center;
  text-align: center;
}
button.header__btn_button {
  background: $Chateau;
  border-radius: 43px;
  color: $white;
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: calc(10px + 8 * (100vw / 1920));
  max-width: 200px;
  padding: 7px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  text-transform: uppercase;
  border: none;
  white-space: nowrap;
}
a.header__btn_email {
  font-size: calc(12px + 8 * (100vw / 1920));
  line-height: 1.6em;
  font-weight: 300;
  text-align: center;
  box-sizing: border-box;
  background: transparent;
  background-color: transparent;
  text-decoration: none;
  cursor: pointer;
  color: #343434;
}
